:root {
  --color-web: #4d5ae5;
  --color-text: #434455;
  --bg-white: #ffffff;
  --bg-black: #2e2f42;
  --bg-team: #f4f4fd;
  --color-hover-focus: #404bbf;
  --border-color: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-text);
  background-color: var(--bg-white);
}

*,
::after ::before {
  box-sizing: border-box;
}
/*Reset*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*Base Styles*/

.container {
  margin: 0 auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  border-bottom: 1px solid var(--border-color);
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-web);
  text-transform: uppercase;
  display: inline-block;
  margin-right: 76px;
  padding: 24px 0;
}

.header-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-black);
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-item {
  color: var(--bg-black);
}

.nav-link {
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  letter-spacing: 0.02em;
  color: var(--bg-black);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--color-hover-focus);
}

address {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--color-hover-focus);
}
.main-section {
  background-color: var(--bg-black);
  padding-top: 188px;
  padding-bottom: 188px;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
  margin: auto;
  margin-bottom: 48px;
  color: var(--bg-white);
}

.main-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  min-height: 56px;
  border-radius: 4px;
  display: block;
  margin: auto;
  padding: 16px 32px;
  border: 0;

  color: var(--bg-white);
  background-color: var(--color-web);
  cursor: pointer;
}

.main-button:hover,
.main-button:focus {
  background-color: var(--color-hover-focus);
}

.profit-section {
  padding: 120px 0;
}

.profit-block {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 0;
  gap: 24px;
}

.profit-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--bg-black);
}

.profit-list {
  width: calc((100% - 3 * 24px) / 4);
}

.profit-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.work-section {
  padding-bottom: 120px;
}

.work-block {
  display: flex;
  gap: 24px;
  padding-left: 0;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--bg-black);
}

.team-block {
  display: flex;
  gap: 24px;
  padding-left: 0;
}

.team-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--bg-black);
}
.team-section {
  padding: 120px 0;
  background-color: var(--bg-team);
}

.team-img-list {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 3 * 24px) / 4);
  background-color: var(--bg-white);
}

.title-picture {
  text-align: center;

  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--bg-black);
  background-color: var(--bg-white);
}

.text-picture {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
  background-color: var(--bg-white);
}

footer {
  padding: 100px 0;
  background-color: var(--bg-black);
}

.footer-web {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-web);
  text-transform: uppercase;
}

.footer-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-team);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  color: var(--bg-team);
}

.aside-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-btn:hover {
  border: 1px solid transparent;
  color: var(--bg-white);
  background-color: var(--color-hover-focus);
}

.portfolio-btn:focus {
  border: 1px solid transparent;
  color: var(--bg-white);
  background-color: var(--color-hover-focus);
}

.btn-aside {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-left: 0;
  margin-bottom: 72px;
}

.portfolio-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-web);
  background-color: var(--bg-team);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
}

.item-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--bg-black);
}

.item-list {
  width: calc((100% - 48px) / 3);
}

.item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.aside-pic {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  gap: 24px;
  row-gap: 48px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-title-border {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.img-title-bord {
  padding: 32px 16px;
  border-top: 0;
}

.work-img-list {
  width: calc((100% - 2 * 24px) / 3);
}
